.exercise {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  container-type: size;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: stretch;
  width: 100%;
  height: 100%;
  --windows-border: var(--web-ide-windows-border, 1px solid #b8b8b8);
  --windows-border-radius: var(--web-ide-windows-border-radius, 6px);
  --windows-gap: var(--web-ide-windows-gap, 0.5rem);
  --windows-box-shadow: var(
    --web-ide-windows-box-shadow,
    rgba(0, 0, 0, 0.2) 0px 0px 2px
  );
}

.exercise,
.exercise :global(*) {
  box-sizing: border-box;
}

.exercise :global(code) {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.exercise :global(.material-symbols) {
  font-variation-settings:
    "FILL" 0,
    "wght" 500,
    "GRAD" 0,
    "opsz" 48;
}

.exerciseContent {
  display: flex;
  width: 100%; // Could be replaced with overflow: hidden
  overflow: hidden;
  flex-direction: column;
  background-color: white;
  gap: var(--windows-gap);
  padding-top: var(--web-ide-padding-top, var(--windows-gap));
  padding-bottom: var(--web-ide-padding-bottom, var(--windows-gap));
  padding-left: var(--web-ide-padding-left, var(--windows-gap));
  padding-right: var(--web-ide-padding-right, var(--windows-gap));
  & > * {
    background-color: white;
    border: var(--windows-border);
    border-radius: var(--windows-border-radius);
    box-shadow: var(--windows-box-shadow);
  }
}

@media (min-width: 800px) {
  .exerciseContent {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    display: grid;
    justify-items: stretch;

    @container (max-width: 1400px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    *[has-maximized-window="true"] & {
      grid-template-columns: 1fr !important;
      grid-template-rows: 1fr !important;
    }
  }
}
